<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.dao.CourseMapper">
	<!-- 查询所有的课程信息,给主页的视频环状图 -->
	<select id="findAllCourse"
	        resultType="Course">
		select 
		    course_id  id,
		    course_name name
		from t_course
	</select>
</mapper>